.toolbar {
  background-color: #b8b7b7;
  z-index: 9999;
  width: 150px;

  .tool {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border: solid 1px rgba(110, 110, 110, 0.699);
    border-radius: 5px;
    margin: 15px auto;
    cursor: pointer;
    position: relative;
  }
}
