.home {
  background-color: rgb(190, 231, 231);
  width: 100%;

  .categories {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;

    .categorie {
        border: rgb(83, 110, 110) solid 2px;
        padding: 15px;
        margin: 15px;
        cursor: pointer;
    }
  }
}
